# PostgreSQL Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=123456
POSTGRES_DB=SHNGear
POSTGRES_PORT=5432

# PgAdmin Configuration
PGADMIN_EMAIL=admin@gmail.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

